<nav>
  <ul class="nav-list">
    <li class="nav-item"><a href="" target="_blank"><img width="148px" height="29px" src="https://kk-ck-microfrontend.s3.eu-central-1.amazonaws.com/shell/logo.png" /></a>
    </li>
    <li class="nav-item"><a routerLink="home">Home</a></li>
    <li class="nav-item" *ngFor="let microfrontend of mfService.microfrontends"><a
        [routerLink]="microfrontend.routePath">{{ microfrontend.displayName }}</a></li>
  <div id="searchbar_container"></div>
  </ul>
</nav>
<div id="root"></div>
<router-outlet></router-outlet>