@import 'vendor/vars.scss';

#shell_root{
  margin-left: auto;
  margin-right: 10px;
}

#searchbar_container{
  //width: 600px;
  //width: 100%;
  width: 50%;
  margin: 0 18px;
}

.nav-list {
  background-color: $button;
  margin: 0;
  display: flex;
  align-items: center;

  &.nav-upper{

    justify-content: space-between;
    padding: 1rem 0;
  }

  &.nav-lower{

    justify-content: flex-start;
    box-shadow: 0px 4px 4px rgb(42, 42, 42);
    padding: 1rem;
  }
}

.nav-item {
  list-style: none;

  &.btn_login{
    cursor: pointer;
  }

  &:not(.banner_logo){

    margin: 0 2rem;
  }
  font-size: 14pt;
  font-weight: 500;
}

.nav-item a, .nav-item div {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover, .nav-item div:hover {
  color: $power;
}

.banner_logo{
  border-radius: 12px;
  padding: 10px;
}

nav{
  position: sticky;
  top: 0;
}

footer{
  padding: 3rem 3rem 1rem 3rem;

  .line{
    border: 1px solid $button;
    margin-bottom: 2rem;
  }

  .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    
    & > a{
      padding: 1rem;
      text-decoration: none;
      color: #000;

      &:hover{
        color: $power;
      }
    }
  }

  .copyright{
    font-style: italic;
    display: flex;
    justify-content: end;
    padding: 1rem;
  }
}

@media (min-width: 768px){
  .banner_logo{
    margin: 0 2rem;
  }
}
